<!DOCTYPE html>
<html lang="en">
<head>
        <title>Add New Flights</title>
        <style>
                body {
                    background: rgb(160, 186, 213);
                    color: white;
                    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                }
                table {
                    background-color: whitesmoke;
                    color: rgb(32, 84, 139);
                }
            </style>
</head>
<body>
        {% with messages = get_flashed_messages() %}
  		{% if messages %}
			<script>
				var messages = "{{ messages[0] | safe }}";
				  alert(messages);
			</script>
  		{% endif %}
        {% endwith %}
        <h1>Add a New Flight</h1>
        <div class style="position: absolute; top: 1; right: 0">
                <button id="back_button" type="button" style="font-size: 16px" class="btn btn-light btn-block" onclick="window.location.href='/staff-home'"><em><strong>Go Back</strong></em></button>
                <button id="profile_button" type="button" style="font-size: 16px" class="btn btn-light btn-block" onclick="window.location.href='/profile'"><em><strong>My Profile</strong></em></button>
                <button id="logout_button" type="button" style="font-size: 16px" class="btn btn-light btn-block" onclick="window.location.href='/logout'"><em><strong>Log Out</strong></em></button>
        </div>
        <div class="row justify-content-center">
                <form action="/add-flights" class="form" method="POST">
                <label for="inputFlightNo"><strong>Flight Number:</strong></label>
                <input size="40"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="text" id="inputFlightNo" name="flightno" class="form-control"
                        placeholder="length smaller than 11" required="" maxlength="11">
                <br/><br/>

                <label for="depAirport"><strong>Departure Airport:</strong></label>
                <input size="40"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="text" id="depAirport" name="depAirport" class="form-control"
                        placeholder="length smaller than 50" required="" maxlength="50">
                <br/><br/>
                

                <label for="depTime"><strong>Departure Time: </strong></label>
                <input size="30"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="datetime-local" id="depTime" name="depTime" class="form-control"
                        required="">
                <br/><br/>

                <label for="arriAirport"><strong>Arrival Airport:</strong></label>
                <input size="40"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="text" id="arriAirport" name="arriAirport" class="form-control"
                        placeholder="length smaller than 50" required="" maxlength="50">
                <br/><br/>
                

                <label for="arriTime"><strong>Arrival Time: </strong></label>
                <input size="30"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="datetime-local" id="arriTime" name="arriTime" class="form-control"
                        required="">
                <br/><br/>

                <label for="price"><strong>Price:</strong></label>
                <input size="40"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="number" step="0.01" id="price" name="price" class="form-control"
                        placeholder="0.00" required="" maxlength="11">
                <br/><br/>

                <label for="status"><strong>Status:</strong></label>
                <input size="40"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="text" id="status" name="status" class="form-control"
                        placeholder="length smaller than 50" required="" maxlength="50">
                <br/><br/>

                <label for="planeid"><strong>Airplane ID:</strong></label>
                <input size="40"
                        style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                        type="text" id="planeid" name="planeid" class="form-control"
                        placeholder="length smaller than 11" required="" maxlength="11">
                <br/><br/>

                <button class="btn btn-lg btn-secondary btn-block" type="submit" value="Add"><strong>Add</strong></button>
                </form>
        </div>
</body>
</html>
