<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register Page</title>
	<style>
        body {
            background: rgb(160, 186, 213);
            color: white;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
          var messages = "{{ messages[0] | safe }}";
            alert(messages);
      </script>
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        <form action="/register-staff" class="form" method="POST">
            <center>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <h1 style="font-size: 200%">Staff Registration</h1>
                </div>
            </div>

            <label for="inputUsername"><strong>Username:</strong></label>
            <input size="30"
                    style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                    type="text" id="username" name="username" class="form-control"
                    placeholder="length smaller than 50" required="" maxlength="50">
            <br/><br/>

            <label for="inputPassword"><strong>Password:</strong></label>
            <input size="40"
                    style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                    type="password" id="inputPassword" name="password" class="form-control"
                    placeholder="length smaller than 50" required="" maxlength="50">
            <br/><br/>
            
            <label for="inputFirstname"><strong>First Name:</strong></label>
            <input size="30"
                    style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                    type="text" id="first_name" name="first_name" class="form-control"
                    placeholder="length smaller than 50" required="" maxlength="50">
            <br/><br/>

            <label for="inputLastname"><strong>Last Name:</strong></label>
            <input size="30"
                    style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                    type="text" id="last_name" name="last_name" class="form-control"
                    placeholder="length smaller than 50" required="" maxlength="50">
            <br/><br/>

            <label for="inputDOB"><strong>Date Of Birth:</strong></label>
            <input size="30"
                    style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                    type="date" id="dateofbirth" name="date_of_birth" class="form-control"
                    required="" placeholder="YYYY-MM-DD">
            <br/><br/>
            
            <label for="inputAirlinename"><strong>Airline Name:</strong></label>
            <input size="30"
                    style="padding-top: 4px; padding-bottom: 4px; padding-left: 5px; padding-right: 5px;"
                    type="text" id="airline_name" name="airline_name" class="form-control"
                    placeholder="length smaller than 50" required="" maxlength="50">
            <br/><br/>

            <button class="btn btn-lg btn-secondary btn-block" type="submit" value="Register"><strong>Register</strong></button>
        <a href="/register">Go back</a>
        </center>
        </form>   
    </div>
</body>
</html>
